<div class="group_members">
  <%= link_to user_path(member), class:"member_link" do %>
    <%= image_tag member.get_profile_image, class: "group_member_icon" %>
    <span class="group_member_name"><%= member.name %></span>
  <% end %>
</div>