<div class="groups">
  <div class="new_group">
    <h1>Groups</h1>
      <% if current_user.email == "guest@example.com" %>
        <p>ここにグループ追加ボタンがありますが、ゲストログインでご利用の方はご利用できません</p>
      <% else %>
        <button class="new_group_modal_btn">
          <i class="fas fa-plus"></i>&nbsp;New Group
        </button>
      <% end %>
    <div class="new_group_modal hidden">
      <button class="close_new_group_modal">&times;</button>
      <h1>New Group?</h1>
      <div class="group_form">
        <div class="group_form_area">
          <%= render 'form', group: @group %>
        </div>
      </div>
    </div>
    <div class="overlay hidden"></div>
  </div>

  <div class="group_index">
    <div class="group_index_area">
      <%= render partial: 'index', collection: @groups, as: "group" %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'new_group_modal' %>