<div class="groups">
  <div class="new_group">
    <h1>Groups</h1>
    <button class="new_group_modal_btn">
      <i class="fas fa-plus"></i>&nbsp;New Group
    </button>
    <div class="new_group_modal hidden">
      <button class="close_new_group_modal">&times;</button>
      <h1>New Group?</h1>
      <div class="new_group_form">
        <div class="new_group_form_area">
          <%= render 'form', group: @group %>
        </div>
      </div>
    </div>
    <div class="overlay hidden"></div>
  </div>

  <div class="group_index">
    <div class="group_index_area">
      <%= render partial: 'index', collection: @groups, as: "group" %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'new_group_modal' %>