// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.sign_in,
.sign_up {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign_in_area,
.sign_up_area {
  width: 45rem;
  height: 52rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #f5f5f5;
  box-shadow: 10px 5px 5px #cccccc;
  border-radius: 8px;
}

.sign_in_logo,
.sign_up_logo {
  font-size: 3rem;

}

.sign_in_form_input,
.sign_up_form_input {
  width: 24rem;
  height: 4rem;
}

.sign_up_form_input {
  width: 32rem;
}

.field,
.actions {
  margin-top: 2rem;
}

.actions {
  margin-bottom: 1.5rem;
}

.sign_in_btn,
.sign_up_btn {
  padding: 0 1rem;
  border-radius: 2rem;
  border: 0.1rem solid #000000;
  background-color: transparent;
}

.signed_in_nav_item {
  font-size: 1.8rem;
  color: #2980b9;
  border: 0.1rem solid #2980b9;
  border-radius: 3rem;
  padding: 0.6rem 1rem;
  margin: 0 1rem;
  text-decoration: none;
}
