<%= form_with model: chat, url: group_chats_path(group) do |f| %>
  <span class="input_form">
    <%= f.text_field :message, placeholder: "Text Message",class: "chat_input_form" %>
  </span>
   <%= button_tag type: 'submit', class: 'chat_send_btn' do %>
      <i class="fas fa-paper-plane"></i>
    <% end %>
<% end %>