<% if group_member.ids === current_user.id || owner.id === current_user.id %>
  <div class="chat_message_from_me">
    <span class="chat_message"><%= chat.message %></span>
  </div>
<% else %>
  <div class="chat_message_from_you">
    <span class="chat_message"><%= chat.message %></span>
  </div>
<% end %>