<div class="user_profile_image">
  <%= image_tag user.get_profile_image, class: "profile_image" %>
</div>
<div class="user_name">
  <%= user.name %>
</div>

<div class="edit_user_modal hidden">
  <button class="close_my_modal">&times;</button>
  <h1>Edit Profile</h1>
  <div class="edit_user_area">
    <div class="edit_user_form">
      <%= render 'edit_form', user: user %>
    </div>
  </div>
</div>
<div class="overlay hidden"></div>

<script>

  const btnOpenEditModal = document.querySelector(".profile_image");
  const editUserModal = document.querySelector(".edit_user_modal");
  const overlay = document.querySelector(".overlay");
  const btnCloseModal = document.querySelector(".close_my_modal");

  const openEditModal = function () {
    editUserModal.classList.remove("hidden");
    overlay.classList.remove("hidden");
  }

  const closeEditModal = function() {
      editUserModal.classList.add("hidden");
      overlay.classList.add("hidden");
    }

  btnOpenEditModal.addEventListener('click', openEditModal);
  btnCloseModal.addEventListener('click', closeEditModal);
  overlay.addEventListener('click', closeEditModal);

</script>
