<div class="header_inner">
  <div class="logo">
    <%= link_to "Paprikash", root_path, class:"logo_item" %>
  </div>
  <nav>
    <%= link_to "Sign in", new_user_session_path, class:"nav_item" %>
    <%= link_to "Sign up", new_user_registration_path, class:"nav_item" %>
    <%= link_to 'ゲストログイン（閲覧用）', public_guest_sign_in_path, method: :post, class:"nav_item" %>
  </nav>
</div>